// SCSS function for image URLs
// used by govuk_publishing_components
@function image-url($filename) {
  @return url("/assets/#{$filename}");
}

@import "govuk-frontend/govuk/all";
@import "govuk/base";
@import "govuk/core/all";
@import "govuk_publishing_components/components/govspeak";

body {
  margin: 0;
}

#container {
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  gap: 20px;
}

#editor {
  min-width: 750px;
}

#govspeak {
  width: 100%;
  padding: 50px 15px 15px;
  font-size: 16px;
}
