.ProseMirror {
  padding: 15px;
  border: 2px solid black;
  min-height: 500px;
}

.ProseMirror:focus,
.ProseMirror-prompt input[type="text"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.ProseMirror-selectednode {
  outline: 3px solid #fd0;
}
