@import "prosemirror-view/style/prosemirror.css";
@import "prosemirror-gapcursor/style/gapcursor.css";
@import "./menu";
@import "./prosemirror-overrides";
@import "./tooltip";
@import "prosemirror-tables/style/tables.css";

.visual-editor__highlight--image-error {
  border: 3px solid #d4351c;
  background: url("/lib/assets/placeholder.jpg");
  background-size: cover;
  aspect-ratio: 3 / 2;

  img {
    opacity: 0;
    height: 100%;
    width: 100%;
  }
}

.visual-editor__highlight--error {
  border-bottom: 2px dashed #d4351c;
  margin-bottom: -2px;
}

#editor .govspeak table {
  display: table;
  width: auto;

  td {
    border: 1px solid black;
    padding: 10px;
    min-width: 100px;
  }
}
