.visual-editor__tooltip-wrapper {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: bottom;
}

.visual-editor__tooltip {
  z-index: 1;

  position: absolute;

  background: white;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  width: max-content;
  max-width: 60%;
}

.visual-editor__tooltip-link {
  word-break: break-all;
}

.visual-editor__tooltip-button {
  background: none;
  border: none;
  margin: 0 0 0 10px;
  padding: 0;
  height: fit-content;
  white-space: nowrap;

  cursor: pointer;

  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
}

.visual-editor__tooltip-button:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.visual-editor__tooltip-button--destructive {
  color: #d4351c;
}

.visual-editor__tooltip-button--destructive:hover {
  color: #bd2f19;
}
