version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    dependency-type: production
    schedule:
      interval: daily
    open-pull-requests-limit: 0
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 0
