name: Prettier

on: workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run prettier
        run: npm run prettier:check
